* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fcfcfc;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.site-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 1em;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
    justify-content: center;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header .login-icon {
    width: 22px;
}

main {
    margin-bottom: 5em;
}

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: 100%;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    margin-top: 1em;
    margin-bottom: .5em;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
    margin-top: 1em;
    margin-bottom: .5em;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}


/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 1.5em;
}

.van-tile a {
    color: #161616;
    text-decoration: none;
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-info {
    margin-block: .7em;
}

.van-info p {
    margin-top: .2em;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-detail-container {
    padding: 27px 27px 0 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

.van-detail h2 {
    font-size: 2rem;
    margin-top: .2em;
    margin-bottom: .1em;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
}

.van-detail p {
    margin-bottom: .4em;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    margin-top: 1em;
}

.host-nav {
    display: flex;
    flex-flow: row wrap;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 1em;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-vans {
    padding-block: 1em;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 1.8em;
}

.host-vans-title {
    padding-inline: 1.5em;
    padding-block: .5em;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 1em;
    padding-block: 1.2em;
    padding-left: 1.5em;
}

.host-van-single>img {
    height: 100px;
    border-radius: 5px;
    margin-right: 1em;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: .6em;
}

.host-van-info p {
    margin-block: .6em;
}

.host-van-detail-layout-container {
    background-color: white;
    padding: 2em;
    margin: 2em 2.2em;
    min-height: 460px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail>img {
    height: 160px;
    border-radius: 5px;
    margin-right: 1.2em;
}

.host-van-detail-info-text>h3 {
    margin-top: .8em;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text>h4 {
    font-size: 20px;
}

.host-van-detail-nav {
    display: flex;
    margin-block: 1.2em;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-detail-info>h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: .3em;
}

.host-van-detail-info>h4>span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price>span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}

.van-list-filter-buttons {
    margin-top: 1em;
}

.not-found-container {
    padding-inline: 26px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.not-found-container .link-button {
    width: 100%;
    background-color: #161616;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    height: 100%;
    min-height: 50vh;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-block: 1em;
}

.login-form>input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    margin-block: .3em;
    border-radius: 5px;
}

.login-form>input:focus {
    outline: none;
}

.login-form>button,
.btn-logout {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 2em;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .9rem;
    cursor: pointer;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
}

.login-form>button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.btn-logout {
    padding-inline: 5em;
}

.red {
    color: #cc0000;
    margin-top: 1em;
}

.host-dashboard-earnings {
    background-color: #ffead0;
    padding: 2.2em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings>.info>h1 {
    font-size: 36px;
    color: #161616;
    margin-bottom: .4em;
}

.host-dashboard-earnings>.info>p {
    color: #4d4d4d;
}

.host-dashboard-earnings>.info>p>span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings>.info>h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 2em 1.5em;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews>h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: .6em;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p>span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 2.2em 1.5em;
}

.host-dashboard-vans>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-dashboard-link {
    color: inherit;
}

.host-income {
    padding-inline: 1.5em;
    color: #161616;
    margin-top: 1em;
}

.host-income h1 {
    font-size: 2.5rem;
}

.host-income>p {
    color: #4d4d4d;
    margin-block: .5em;
}

.host-income>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income>h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 600px;
    margin-top: 1em;
}

.host-income .info-header>p {
    color: #4d4d4d;
    margin-top: .8em;
}

.host-income .info-header>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header>h3 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.5em;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-block: 31px;
    padding: 2.2em 1.5em;
    border-radius: 6px;
}

.host-income .transaction>h3 {
    font-size: 36px;
    font-weight: 600;
}

.host-income .transaction>p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    padding-inline: 1.5em;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .2em;
    margin-top: 1em;
}

.host-reviews .top-text>h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: .3em;
}

.host-reviews .top-text>p {
    margin-left: 5px;
    color: #4d4d4d;
}

.host-reviews .top-text>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews>img {
    margin-bottom: 2em;
}

.host-reviews .review {
    margin-block: 1em;
}

.host-reviews .review .info {
    display: flex;
    margin-block: .2em;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #767676;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}

.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 50px;
}

.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
    0% {
        background-color: #69717d;
    }

    100% {
        background-color: transparent;
    }
}

.error-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    gap: 10px;
    color: #cc0000;
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
    }

    header .site-logo {
        margin-right: 0;
    }

    .host-van-detail {
        flex-direction: column;
    }

    .host-van-detail>img {
        margin-right: 0;
        margin-bottom: 1em;
    }
}